attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==41.0.2
Cython
dl==0.1.0
docutils
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
git+https://github.com/kivy/pyjnius.git#egg=pyjnius
keyring==24.3.1
lockfile==0.12.2
mock==4.0.3
numpy
opencv_python==4.11.0.86
Pillow==11.2.1
protobuf==3.20.3
pyOpenSSL
railroad==0.5.0
scipy
Sphinx==8.2.3
tensorflow==2.15.1
thread==2.0.5
tornado==6.4.2
trove_classifiers==2025.4.28.22
truststore==0.10.1
urllib3_secure_extra==0.1.0